<footer class="footer">
    <div class="container">
        <div>
            <h3>Наши партнеры</h3>
            <ul class="footer__partners">
                <li class="footer__partner">
                    <a href="http://www.siu.ranepa.ru/" class="footer__partner-logo"><img src="img/partner2.png"></a>
                </li>
                <li class="footer__partner">
                    <a href="http://rushistory.org/" class="footer__partner-logo"><img src="img/partner1.png"></a>
                </li>
                <li class="footer__partner">
                    <a href="https://www.nso.ru/" class="footer__partner-logo"><img src="img/partner3.png"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__copyright">2018 &copy; Отделение Российского исторического общества в Новосибирске</div>
</footer>