<footer class="footer">
    <div class="container">
        <div>
            <h3>Наши партнеры</h3>
            <ul class="footer__partners">
                <li class="footer__partner">
                    <a href="http://www.siu.ranepa.ru/" class="footer__partner-logo"><img src="img/partner2.png"></a>
                </li>
                <li class="footer__partner">
                    <a href="http://rushistory.org/" class="footer__partner-logo"><img src="img/partner1.png"></a>
                </li>
                <li class="footer__partner">
                    <a href="https://www.nso.ru/" class="footer__partner-logo"><img src="img/partner3.png"></a>
                </li>
                <li class="footer__partner">
                    <a href="https://www.nsu.ru/n/" class="footer__partner-logo"><img src="img/partner4.png"></a>
                </li>
                <li class="footer__partner">
                    <a href="http://www.history.nsc.ru/" class="footer__partner-logo"><img src="img/partner5.png"></a>
                </li>
                <li class="footer__partner">
                    <a href="http://www.archaeology.nsc.ru/" class="footer__partner-logo"><img src="img/partner6.png"></a>
                </li>
                <li class="footer__partner">
                    <a href="http://ngonb.ru/" class="footer__partner-logo"><img src="img/partner7.png"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__copyright">2018 &copy; Отделение Российского исторического общества в Сибирском федеральном округе</div>
</footer>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" type="text/css" href="css/slick.css"/>
<link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
<script type="text/javascript" src="js/slick.js"></script>
<script src="js/main.js"></script>