<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="#"><img src="img/logo.svg" alt="марафон ЕГЭ"></a>
            </div>
            <div class="col-5">
                <div class="footer__center">
                    <div class="footer__development">Разработка и продвижение — <a href="#" class="footer__development-link">Synergy Digital</a></div>
                    <div class="footer__privacy"><a href="#" class="footer__privacy-link">Политика конфиденциальности</a></div>
                </div>
            </div>
            <div class="col-4">
                <div class="footer__right">
                    <div class="footer__phone"><a href="tel:88001008926">8 800 100-89-26</a></div>
                    <div class="footer__mail"><a href="mailto:transformation@synergy.ru">transformation@synergy.ru</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="js/scripts.js"></script>