<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <a href="#"><img src="img/logo.svg" alt="марафон ЕГЭ"></a>
            </div>
            <div class="col-3">
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="#">рейтинг</a></li>
                        <li class="menu__item"><a href="#">правила</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-7">
                <div class="header__right">
                    <div class="header__ask">
                        <a href="#">
                            <img src="img/letter.svg" alt="задать вопрос" class="header__ask-icon">
                            <span class="header__ask-text">задать вопрос</span>
                        </a>
                    </div>
                    <div class="header__notifications">
                        <a href="#">
                            <img src="img/bell.svg">
                            <span class="header__notifications-counter"><span class="header__notifications-number">3</span></span>
                        </a>
                    </div>
                    <div class="user-menu">
                        <div class="user-menu__name">Клим Горошко</div>
                        <ul class="user-menu__list">
                            <li class="user-menu__item"><a href="#">Профиль</a></li>
                            <li class="user-menu__item"><a href="#">Выйти</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>